@model UpdatePasswordViewModel
<form method="post" asp-action="UpdatePassword" asp-controller="User">
    <div class="p-5">
        <div class="form-group row">
            <h3 class="text-primary">Update Password</h3>
        </div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    </div>
    <div class="row">
        <div class="col-4">
            <label asp-for="@Model.Password"></label>
            <input asp-for="@Model.Password" type="password" class="form-control" />
            <span asp-validation-for="@Model.Password" class="text-danger"></span>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-4">
            <label asp-for="@Model.NewPassword"></label>
            <input asp-for="@Model.NewPassword" type="password" class="form-control" />
            <span asp-validation-for="@Model.NewPassword" class="text-danger"></span>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-4">
            <label asp-for="@Model.ConfirmNewPassword"></label>
            <input asp-for="@Model.ConfirmNewPassword" type="password" class="form-control" />
            <span asp-validation-for="@Model.ConfirmNewPassword" class="text-danger"></span>
        </div>
    </div>
    <br />
    <div class="w-12 btn-group" role="group">
        <input type="submit" class="btn btn-outline-primary" value="Update" />
    </div>
</form>